table {
	border: solid black 1px;
	height: 100%;
}

td {
	border: solid black 1px;
}

.cal {
	margin-top: 60px;
  height: 300px;
}

.fa-chevron-left {
	margin-bottom: 50px;
}

.fa-chevron-right {
	margin-bottom: 50px;
}

/***** STAR ******/

.fa-star {
	color: rgb(218,165,32);
}
