
a:link {
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: black;
}
a:active {
    color: black;
}

/*      Calendar Styles      */

.left { float: left; }
.right { float: right; }
.clearfix { clear: both; }

.fa-angle-left {
	margin-top: 20px;
	margin-bottom: 50px;
}

.fa-angle-right {
	margin-top: 20px;
	margin-bottom: 50px;
}